@using jevtest.Models
@model List<Users>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Adminpage</title>

</head>
<body>
    <p>UYELER</p>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Surename</th>
            <th>companey</th>
            <th>username</th>
            <th>password</th>
            <th>userroll</th>
            <th>Guncelle</th>
            <th>Sil</th>

        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <th>@i.Name</th>
                <th>@i.SureName</th>
                <th>@i.companey</th>
                <th>@i.username</th>
                <th>@i.password</th>
                <th>@i.Roll.Roll</th>
                <th><a href="/home/verigetir/@i.UserId" class="btn btn-info">Guncelle</a></th>
                <th><a href="/home/uyesil/@i.UserId" class="btn btn-danger">Sil</a></th>
            </tr>
        }
    </table>

    <p></p>
    @{var a = 1;}
    @* @Html.DropDownListFor(a=>a.id, (List<SelectListItem>)ViewBag.ListOfRolls, new { @class = "form-control" })*@
    <a href="/home/rollist/@a   " class="btn btn-danger">list for Roll Relation</a>
    <p></p>
    <a href="/Login/logout" class="btn btn-danger">logout</a>
    <p></p>

</body>
</html>
