@using jevtest.Models
@model List<Users>
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Rollist</title>
</head>
<body>
    <h1>list users by rolls</h1>
    <p>@ViewBag.pageheader</p>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Surename</th>
            <th>companey</th>
            <th>username</th>
            <th>password</th>         
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <th>@i.Name</th>
                <th>@i.SureName</th>
                <th>@i.companey</th>
                <th>@i.username</th>
                <th>@i.password</th>             
            </tr>
        }
    </table>
</body>
</html>
